$primary-pink: #ffadc1;
$light-pink: #ffcde8;
$dark-pink: #ff61a0;
$brown: #4d3627;
$cream: #fcf3d9;

.main {
    background-color: $primary-pink;
    width: 100vw;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $cream;
    font-style: italic;
}

.main a {
    text-decoration: none;
    font-size: 4rem;
    padding: 1rem;

    .fa-icon {
        color: $cream;
    }
}

.main a :hover {
    color: $dark-pink;
    transition: 0.5s;
}

.main #socialIcons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-items: center;
}

.main h1 {
    font-size: 4rem;
    padding: 1rem;
}

.main h2 {
    font-size: 1.5rem;
    padding: 1rem;
}

@media screen and (min-width: 42rem) {

    .main #socialIcons {
        display: flex;
    }

    .main a {
        font-size: 4rem;
    }

    .main h1 {
        font-size: 6rem;
    }

    .main h2 {
        font-size: 3rem;
    }
}