@font-face {
    font-family: 'BookmanJFPro-Italic';
    src: url('./assets/fonts/BookmanJFPro-Italic.ttf');
}

.main {
    background-color: pink;
    width: 100vw;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'BookmanJFPro-Italic';
    color: #fcf3d9;
}

.main a {
    text-decoration: none;
    padding: 1rem;
    font-size: 4rem;
    
    .fa-icon {
        color: #fcf3d9;
    }
}

.main #socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding: 4rem;

}

.main h1 {
    font-size: 8rem;
    padding: 1rem;
}

.main h2 {
    font-size: 4rem;
    padding: 1rem;
}